snippet test "Unittest test case"
test('${1}', () async {
  ${0}
});
endsnippet

snippet group "Unittest test group"
group('${1}', () {
  ${0}
});
endsnippet

snippet async
Future<${1:Null}> ${2}(${3}) async {
  ${0}
}
endsnippet

snippet am "Anonymous Method" w
(${1}) {
  ${0}
}
endsnippet

snippet aam "Anonymous Async Method" w
(${1}) async {
  ${0}
}
endsnippet

snippet class
class ${1} {
  ${0}
}
endsnippet
