snippet pubspec "Dart pubspec for a new package" b
name: ${1:`!v expand('%:p:h:t')`}
publish_to: none

environment:
	sdk: ">=2.7.0 <3.0.0"

dev_dependencies:
	test: ^1.13.0
endsnippet


snippet required "Required fields to publish" b
version: ${1:0.1.0-dev}
description: $2
homepage: $4
endsnippet

snippet deps "Dependencies section" b
dependencies:
	$0
endsnippet

snippet overrides "Dependency overrides section" b
dependency_overrides:
	$0
endsnippet
